<!DOCTYPE html>
<html>
<head>
</head>
<body>

<h1>Collins Aerospace</h1>




<div class="topnav">
  <a class="active" href="#DASHBOARD">DASHBOARD</a>
  <a href="#REPORTS">REPORTS</a>
  <a routerLink="#CREATE ORDER">CREATE ORDER</a>

</div>
<router-outlet></router-outlet>


<div class="flex-container">
<div class="example1">
  <h2>PLANNING</h2>  
</div>

<div class="example2">
  <h2>PLANNING</h2>  
</div>

<div class="example3">
  <h2>PLANNING</h2>  
</div>

<div class="example4">
  <h2>PLANNING</h2>  
</div>

</div>

<div class="flex-container">
  <div class="example5">
    <h2>PLANNING</h2>  
  </div>
  
  <div class="example6">
    <h2>PLANNING</h2>  
  </div>
  
  <div class="example7">
    <h2>PLANNING</h2>  
  </div>
  
  <div class="example8">
    <h2>PLANNING</h2>  
  </div>
  
  </div>
  











  

<footer class="page-footer font-small blue">

  <div class="footer-copyright text-center py-3">Collins Aerospace:
    <a href="https://mdbootstrap.com/"> Collins Aerospace</a>
  </div>
  

  
</footer>
</body>
</html>
